<a class="base-cta-primary base-cta-primary--{{ mode|default('dark') }}" href="{{ href }}" target="{{ target|default('_self')}}"
  {% if ariaLabel %}
    aria-label="{{ ariaLabel }}"
  {% endif %}
	{% if ariaDescribedby %}
    aria-describedby="{{ ariaDescribedby }}"
  {% endif %}
	{% if ariaLabelledby %}
    aria-labelledby="{{ ariaLabelledby }}"
  {% endif %}>

	<span class="base-cta-primary__outline"></span>
	<span class="base-cta-primary__content">
		{{ text }}
		<span class="base-cta-primary__arrow"></span>
	</span>
</a>
