<a aria-label="Find us on {{ property }}" target="_blank" rel="noopener" href="{{ href }}" class="base-cta-social base-cta-social--{{ mode|default('light') }}">
	<svg alt="{{property}} icon" class="base-cta-social__icon" viewbox="0 0 65 65" xmlns="http://www.w3.org/2000/svg">
		<use xlink:href="/svgs/social-{{ property }}.svg#icon"/>
	</svg>
</a>
