<a class="base-cta-mega base-cta-mega--{{ mode|default('dark') }} base-cta-mega--{{ type }}" href="{{ url }}" target="{{ target|default('_self')}}"
    {% if ariaLabel %}
        aria-label="{{ ariaLabel }}"
    {% endif %}>

	{{ text }}
	<span class="base-cta-mega__arrow"></span>
</a>
