<a class="base-link-text" href="{{ href }}" target="{{ target|default('_self') }}"
{% if ariaLabel %}
    aria-label="{{ ariaLabel }}"
{% endif %}
{% if ariaLabelledby %}
    aria-labelledby="{{ ariaLabelledby }}"
{% endif %}
{% if ariaDescribedby %}
    aria-describedby="{{ ariaDescribedby }}"
{% endif %}>{{ text }}</a>
