<a class="base-cta-link base-cta-link--{{ mode|default('dark') }}" href="{{ href }}" target="{{ target|default('_self')}}"
	{% if ariaLabel %}
		aria-label="{{ ariaLabel }}"
	{% endif %}>

	<span class="base-cta-link__outline"></span>
	<span class="base-cta-link__content">
		{{ text }}
	</span>
</a>
