<section class="cards-image cards-image--{{ type|default('white') }} cards-image--{{ cards|length }}">
  <div class="cards-image__header-container">
    <div class="cards-image__header-inner">
      {% include "components/base-lockup.twig" with lockup %}
    </div>
  </div>

  <div class="cards-image__cards-container">
    {% for card in cards %}
      <article class="cards-image__card">
        <img class="cards-image__card-image" alt="{{ card.image.alt }}" src="{{ card.image.src }}">
        <div class="cards-image__card-inner">
          <h{{card.headline.level|default('3')}} class="cards-image__card-headline"
          {% if card.headline.id %}
            id="{{ card.headline.id }}"
          {% endif %}>{{ card.headline.text }}</h{{card.headline.level|default('5')}}>
          <p class="cards-image__card-copy"
          {% if card.copy.id %}
            id="{{ card.copy.id }}"
          {% endif %}>{{ card.copy.text }}</p>
          <div class="cards-image__card-cta">
            {% include 'components/base-cta-text.twig' with card.cta %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
